.cardStyle {
  width: 12rem;
  height: 16rem;
  background: linear-gradient(180deg, #1f1f1f 0%, #1e1e1e 50%);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.imgStyle {
  height: 10rem;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
}
.imgholder {
  margin: auto;
  width: 100%;
  position: relative;
  height: 10rem;
}
.headline {
  font-size: 16px;
  color: white;
  margin-top: 1rem;
}
.descript {
  font-size: 14px;
  color: #a7a7a7;
  font-weight: light;
  margin-top: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hover:hover {
  background: #282828 !important;
}
.circle {
  position: absolute;
  background: #1fdf64;
  height: 50px;
  border-radius: 50%;
  width: 50px;
  opacity: 0;
  bottom: 2px;
  right: 5px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
}
.hover:hover .circle {
  opacity: 1;
  transition: all 300ms;
}

@media (max-width: 808px) {
  .cardStyle {
    width: 10rem;
    height: 14rem;
    background: linear-gradient(180deg, #1f1f1f 0%, #1e1e1e 50%);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }
  .imgStyle {
    height: 9rem;
  }
  .imgholder {
    height: 10rem;
  }
  .headline {
    font-size: 14px;
    margin-top: 0rem;
  }
  .descript {
    font-size: 11px;
  }
}
@media (max-width: 425px) {
  .cardStyle {
    display: none;
  }
  .imgStyle {
    display: none;
  }
  .imgholder {
    display: none;
  }
  .headline {
    display: none;
  }
  .descript {
    display: none;
  }
}
