.hover:hover {
  background: #282828 !important;
}
.circle {
  position: absolute;
  background: #1fdf64;
  height: 50px;
  border-radius: 50%;
  width: 50px;
  opacity: 0;
  bottom: 2px;
  right: 5px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hover:hover .circle {
  opacity: 1;
}
