@font-face {
  font-family: spotify;
  src: url(./assets/font1.woff2);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: black;
  color: aliceblue;
  font-family: spotify;
}
.main {
  display: flex;
  width: 99%;
  gap: 0.5rem;
  height: 92vh;
  align-items: center;
  margin: auto;
}
.loginBanner {
  width: 99%;
  height: 7.2vh;
  background-image: linear-gradient(90deg, #810381 0%, #579aff 100%);
  margin: auto;
  border-radius: 10px;
}
.left {
  display: flex;
  width: 24%;
  height: 98.5%;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.upper-left {
  height: 19%;
  border-radius: 10px;
  background: #121212;
}

.lower-left {
  height: 80%;
  background: #121212;
  border-radius: 10px;
}
.addPlayList {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.leftPlaylist {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 12px;
  font-weight: 200;
  color: #727272;
}
.right {
  background: linear-gradient(#292929 0%, #121212 50%);
  width: 86%;
  height: 98.5%;
  border-radius: 10px;
  overflow-y: auto;
  padding-bottom: 1rem;
}
.login {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  margin: auto;
  height: 7%;
  margin-bottom: 5px;
  background: linear-gradient(#101010 0%, #101010 100%);
}
.Navbutton {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-left: 2rem;
}
.leftbut,
.rightbut {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  border-radius: 50%;
}
.leftbut h4 {
  color: rgba(240, 248, 255, 0.561);
  position: relative;
  top: 50%;
  transform: translateY(-42%);
}
.rightbut h4 {
  color: rgba(240, 248, 255, 0.561);
  position: relative;
  top: 50%;
  transform: translateY(-42%);
}
#logo2 {
  display: none;
}
#home,
#Search {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 15px;
}
#searchT {
  color: #727272;
}
.homesearch {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
}
.logo img {
  width: 5rem;
}
.logo {
  margin-top: -2px;
}

.firstrow {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-basis: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  width: 98%;
  margin: auto;
  margin-bottom: 2rem;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 16rem;
  filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.2));
}
.register {
  display: flex;
  font-weight: 400;
  gap: 1rem;
  align-items: center;
  margin-right: 3%;
}
#register {
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  color: #727272;
  cursor: pointer;
}
#register:hover {
  scale: 1.04;
  color: white;
}
#login button {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border: none;
  background: white;
  padding: 0.8rem 2.2rem;
  border-radius: 2rem;
  color: #0c0c0c;
}
.loginBanner {
  display: flex;
  width: 99%;
  border-radius: 10px;
  justify-content: space-between;
  padding: 5px 10px;
}
.left-down {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  color: white;
  /* background: red; */
}
.left-down h5 {
  font-size: 15px;
  font-weight: 100;
}
.right-down {
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.right-down button {
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  color: #121212;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-weight: bold;
  cursor: pointer;
}

#mediaplayer {
  position: fixed;
  bottom: 4.5rem;
  width: 77%;
  height: 4.5rem;
  color: white;
  background: #191919;
  margin: auto;
  padding: 0 2%;
  border: 0 0 20px 20px;
  filter: drop-shadow(0px -5px 10px rgba(0, 0, 0, 0.614));
  border-radius: 0px 0px 5px 5px;
}
#playbar {
  margin: auto;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.nameart {
  background: red;
  width: 10rem;
  height: 100%;
}
.slider {
  min-width: 5rem;
  width: 25rem;
  background: rgb(0, 247, 255);
  height: 100%;
}

@media (max-width: 809px) {
  #mediaplayer {
    bottom: 0.1rem;
    width: 88.2%;
    height: 8rem;
  }
  .left {
    display: flex;
    width: 10%;
    height: 98.5%;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
  }
  .right {
    background: linear-gradient(#292929 0%, #121212 50%);
    width: 90%;
    height: 98.5%;
    border-radius: 10px;
    overflow-y: auto;
  }
  #logo1,
  #homeT,
  #searchT,
  .rightPlaylist,
  .yourlib,
  .playlistcards {
    display: none;
  }
  #logo2 {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 5px;
  }
  .upper-left {
    height: 35%;
    border-radius: 10px;
    background: #121212;
  }

  .lower-left {
    height: 64%;
    background: #121212;
    border-radius: 10px;
  }
  .firstrow {
    gap: 0.5rem;
    margin-bottom: 1rem;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 14rem;
    filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.2));
  }
  .loginBanner {
    display: none;
  }
  .right,
  .main,
  .left {
    height: 99vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
  }
}
@media (max-width: 426px) {
  .left {
    display: none;
  }
  .right {
    width: 100%;
  }
}
